@import '../../styles/variables.scss';

.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  .loginForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'logo .  '
      'header header '
      'main main '
      'search search'
      '.  btn';
    width: 20%;
    margin: 5rem auto 0;

    .logoImage {
      grid-area: logo;
    }

    .formTitle {
      grid-area: header;
      margin-top: 3rem;
      font-size: 2.5rem;
    }

    input {
      grid-area: main;
      width: 100%;
      margin: 3.5rem 0;
      padding: 1.5rem 2rem;
      border: 1px solid #333;
      border-radius: 1.2rem;
      font-size: 1.5rem;
    }

    .searchPassword {
      grid-area: search;
    }
  }
}
