@import '../../styles/variables.scss';

.cartCard {
  @include displayFlex(space-between, center, null);
  padding: 0 1rem;
  border-top: 1px solid $black;

  .cartInfo {
    margin: 1.3rem 0;
    width: 50%;

    .selectedOption {
      font-size: 1.3rem;
    }
  }
  .addCart {
    @include displayFlex(flex-start, center, null);
    margin: 1.3rem 0;

    .count {
      @include displayFlex(flex-start, center, null);
      border: 1px solid $black;
      border-radius: 5px;

      button {
        display: inline-block;
        background-color: white;
        border: none;
        padding: 0 1.2rem;
      }

      .countInputText {
        width: 4rem;
        padding: 0.25rem 0;
        border-left: 1px solid $black;
        border-right: 1px solid $black;
        text-align: center;
      }
    }

    .selectedPrice {
      width: 10rem;
      margin: 0 2rem;
      text-align: right;
    }
  }
}
