@import '../../styles/variables.scss';

.main {
  overflow: hidden;

  .mainBox {
    @include position(relative, null, null, null, null);
    @include displayFlex(null, center, column);
    margin: 60px 0 100px 0;

    video {
      width: 95%;
      filter: brightness(50%);
    }

    .mainImg1 {
      margin: 50px 0;
    }

    .mainVid1Description {
      @include displayFlex(null, center, column);
      margin: 60px 0;

      .descriptionSubtitle {
        font-size: 1.8rem;
      }

      .descriptionTitle {
        margin-bottom: 20px;
        font-weight: 600;
      }

      .descriptionText {
        font-size: 1.6rem;
        font-weight: 300;
      }

      .button {
        margin: 30px 4px;
        padding: 10px 20px;
        font-size: 1.5rem;
      }
    }
  }
}
