@import '../../styles/variables.scss';

.productList {
  overflow: hidden;

  .productListContainer {
    @include displayFlex(null, null, null);
    padding-top: 90px;

    .filter {
      margin: 0 60px;

      .menu {
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 2.5rem;
      }

      .category,
      .gender,
      .color {
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
      }

      .category {
        width: 100%;
        margin-bottom: 10px;
        font-size: 1.6rem;
        font-weight: 400;

        .categoryMenu {
          margin-bottom: 10px;

          &:hover {
            cursor: pointer;
            color: gray;
          }
        }
      }

      .filterContainer {
        @include displayFlex(null, null, column);
        margin-bottom: 10px;
        font-size: 1.6rem;

        .filterTitle {
          margin-bottom: 12px;
          font-weight: 400;
        }

        .checkboxContainer {
          .checkbox {
            margin: 0 8px 10px 0;
          }

          .checkboxText {
            font-weight: 400;
          }

          &:hover {
            cursor: pointer;
            color: gray;
          }
        }

        .colorListContainer {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          font-size: 1.2rem;
          font-weight: 400;

          .colorButtonContainer {
            @include displayFlex(center, null, null);
            .colorButton {
              width: 28px;
              height: 28px;
              margin-bottom: 8px;
              border: 1px solid lightgray;
              border-radius: 50%;
              background-color: transparent;

              &.black {
                background-color: black;
              }

              &.blue {
                background-color: #438ec3;
              }

              &.brown {
                background-color: #7c5f45;
              }

              &.green {
                background-color: #89b850;
              }

              &.gray {
                background-color: #808080;
              }

              &.orange {
                background-color: #e2733b;
              }

              &.pink {
                background-color: #e07990;
              }

              &.purple {
                background-color: #83469a;
              }

              &.red {
                background-color: #d54637;
              }

              &.white {
                background-color: white;
              }

              &.yellow {
                background-color: #f7d757;
              }
            }
          }
        }

        .sizeButtonContainer {
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          .sizeButton {
            margin: 5px;
            padding: 10px 12px;
            border: 1px solid lightgray;
            border-radius: 5px;
            background-color: white;
            font-size: 1.5rem;

            &:hover {
              border: 1px solid black;
            }
          }
        }
      }
    }

    .productListBoard {
      @include displayFlex(null, flex-end, column);
      margin: 30px 50px 100px 0;

      .productDropdown {
        width: 100px;
        margin-bottom: 20px;
        border: none;
        font-size: 1.6rem;
      }

      .productListGrid {
        max-width: 1900px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }
    }
  }
}
