.productList {
  overflow: hidden;

  .productListContainer {
    display: flex;
    padding-top: 80px;

    .filter {
      margin: 0 80px;

      .menu {
        width: 150px;
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 30px;
      }

      .category,
      .gender,
      .color {
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
      }

      .category {
        width: 150px;
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 10px;

        .categoryMenu {
          margin-bottom: 10px;
        }
      }

      .filterContainer {
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        margin-bottom: 10px;

        .filterTitle {
          margin-bottom: 10px;
          font-weight: 400;
        }

        .checkbox {
          margin-bottom: 10px;
        }

        .colorListContainer {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          font-size: 1.2rem;
          font-weight: 400;

          .colorList {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 5px;

            .colorButton {
              width: 30px;
              height: 30px;
              border: 1px solid lightgray;
              border-radius: 50%;
              background-color: transparent;
            }
          }
        }
      }
    }

    .productListBoard {
      max-width: 1900px;
      margin: 70px 50px 100px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .productBox {
        height: 480px;

        .productImg {
          height: 80%;
          background-color: #f5f5f5;
        }

        .productBoxText {
          margin-top: 20px;

          .productName {
            margin-bottom: 10px;
            font-weight: 400;
          }

          .productPrice {
            font-size: 16px;
          }
        }
      }
    }
  }
}
