@import '../../styles/variables.scss';

.productDetail {
  @include displayFlex(space-between, null, null);
  width: 80%;
  margin: 13rem auto 0;

  .productImageContainer {
    width: 50%;

    .productMainImg {
      img {
        width: 100%;
      }
    }

    .productImageGallery {
      @include displayFlex(space-between, center, null);
      width: 100%;
      height: 20rem;
      overflow: scroll;

      .imageBox {
        @include displayFlex(center, center, null);
        width: 100rem;
        height: 100%;
        background-image: url('');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0.7rem;
        overflow: hidden;
      }
    }
  }

  .productInfo {
    margin-left: 8rem;

    .productInfoTitle {
      margin: 1rem 0 5rem 0;
    }
  }

  .selectSize {
    max-width: 90%;

    .selectSizeTitle {
      @include displayFlex(space-between, null, null);
      width: 100%;
    }

    .selectSizeOption {
      @include displayFlex(space-between, null, null);
      flex-wrap: wrap;
      gap: 0.5rem;
      margin: 1.1rem auto 0;

      .button {
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 0.8rem 0;
        width: 16.6%;
        border: 2px solid $black;
        border-radius: 7px;
        background-color: #fff;
        color: $black;
        font-weight: 500;
        font-size: 1.5rem;
      }
    }

    .button {
      margin-top: 2rem;
      width: 100%;
    }
  }
}
