.footer {
  padding: 20px;
  background-color: black;
  color: white;

  .footerMenu {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;

    .footerMenuList {
      display: flex;
      width: 100%;
      padding: 0 40px;
      gap: 180px;

      a {
        color: white;
      }

      li,
      dt {
        font-size: 1rem;
        font-weight: 200;
        margin-bottom: 10px;
      }

      dd {
        font-size: 0.8rem;
        font-weight: 200;
        margin-bottom: 10px;
        color: gray;
      }
    }

    .footerIcon {
      width: 200px;

      i {
        color: gray;
        margin-left: 10px;

        &:hover {
          color: white;
        }
      }
    }
  }

  .footerInfo {
    font-size: 0.7rem;
    color: gray;

    u {
      color: white;
      font-weight: white;
    }

    .footerInfoTitle {
      display: flex;
      justify-content: space-between;

      .footerInfoLocation {
        width: 45%;

        .fa-location-dot,
        .location {
          color: white;
          margin-right: 10px;
        }
      }

      strong {
        margin-left: 20px;
        font-weight: 300;
        color: white;
      }
    }

    .footerInfoDetail {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid gray;

      .legal {
        width: 45%;
      }
    }
  }
}
