@import '../../styles/variables.scss';

.email {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  .emailForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'logo .  '
      'header header '
      'main main '
      'footer footer'
      '.  btn';
    width: 25%;
    margin: 5rem auto 0;

    .logoImage {
      grid-area: logo;
    }

    .formTitle {
      grid-area: header;
      margin-top: 3rem;
      font-size: 2.5rem;
    }

    .emailContainer {
      grid-area: main;
      display: flex;
      justify-content: space-around;
      width: 70%;
      margin: 3.5rem 0;
      padding: 1.5rem 0;
      border: 1px solid #333;
      border-radius: 1.2rem;
    }

    .emailContainer {
      input {
        width: 30%;
        text-align: center;
        font-size: 1.5rem;
      }

      select {
        border: none;
        font-size: 1.5rem;
      }
    }

    .emailTerms {
      grid-area: footer;
    }

    .emailSubmitBtn {
      grid-area: btn;
      justify-self: end;
      width: 40%;
      margin-top: 10rem;
      padding: 1.2rem 0;
      background-color: #333;
      border: none;
      border-radius: 5rem;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 400;
      letter-spacing: 0.2rem;
    }
  }
}
