@import '../../styles/variables.scss';
@keyframes navLoad {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes searchLoad {
  0% {
    width: 150px;
  }
  100% {
    width: 300px;
  }
}

@keyframes subNavLoad {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    display: block;
  }
}

.nav {
  @include position(fixed, 0, null, null, 0);
  width: 100%;
  align-items: center;
  z-index: 1;

  .navContainer {
    @include displayFlex(space-around, center, null);
    background-color: white;
    border-bottom: 2px solid #f5f5f5;
    z-index: 1;

    .logo {
      @include position(fixed, null, null, null, 20px);

      img {
        width: 50px;
      }
    }

    .navText {
      display: flex;
      font-size: 1.5rem;
      font-weight: 400;

      .navTextList {
        position: relative;
        padding: 20px 15px;

        &:hover {
          &::after {
            @include position(absolute, null, null, 0, 0);
            animation: navLoad 100ms ease-out;
            content: '';
            width: 100%;
            height: 3px;
            background-color: $black;
          }
        }
      }

      &:hover {
        .subNav {
          display: block;
          animation: subNavLoad 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        }
      }

      .subNav {
        @include position(absolute, 6.5rem, null, null, 0);
        display: none;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100vw;
        height: 100vh;

        .subNavContainer {
          @include displayFlex(space-around, null, null);
          background-color: #fff;
          width: 100%;
          height: fit-content;
          padding: 3rem 20% 4rem;

          .detailCategory {
            width: 25%;
            text-align: center;

            dt {
              margin-bottom: 2.5rem;
              font-size: 2rem;
              font-weight: 400;
            }

            dd {
              margin-bottom: 1rem;
              color: #757575;

              &:hover {
                color: $black;
                font-weight: 400;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .iconContainer {
      position: fixed;
      right: 20px;
      display: flex;
      align-items: center;

      i {
        padding: 1.3rem;
        margin-left: 10px;
        font-size: 1.5rem;

        &:hover {
          background-color: #e5e5e5;
          border-radius: 5rem;
        }
      }

      .searchContainer {
        position: relative;

        .searchInput {
          width: 150px;
          height: 40px;
          padding-left: 20px;
          background-color: #f5f5f5;
          border: none;
          border-radius: 50px;

          &::placeholder {
            color: lightgray;
          }

          &:focus {
            outline: none;
            width: 300px;
            background-color: #e5e5e5;
            animation: searchLoad 100ms;
          }

          &:hover {
            background-color: #e5e5e5;
          }
        }

        .fa-magnifying-glass {
          @include position(absolute, 13px, 10px, null, null);
          padding: 0;
          border: none;
          background-color: transparent;
        }
      }
    }
  }
}
